{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section">
  {% include 'message.html' %}
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Driver Details</h5>
          
          <!--  Form Elements -->
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="row mb-3">
                {{ form.drivername.errors }}
                <label for="{{ form.drivername.id_for_label }}" class="col-sm-2 col-form-label">Driver Name</label>
                <div class="col-sm-10">
                  {{ form.drivername }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.phoneno1.errors }}
                <label for="{{ form.phoneno1.id_for_label }}" class="col-sm-2 col-form-label">Driver Phone No.1</label>
                <div class="col-sm-10">
                  {{ form.phoneno1 }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.phoneno2.errors }}
                <label for="{{ form.phoneno1.id_for_label }}" class="col-sm-2 col-form-label">Driver Phone No.2</label>
                <div class="col-sm-10">
                  {{ form.phoneno2 }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.vehicleregno.errors }}
                <label for="{{ form.vehicleregno.id_for_label }}" class="col-sm-2 col-form-label">Vehicle Reg No.</label>
                <div class="col-sm-10">
                  {{ form.vehicleregno }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.licenseno.errors }}
                <label for="{{ form.licenseno.id_for_label }}" class="col-sm-2 col-form-label">Driver License No.</label>
                <div class="col-sm-10">
                  {{ form.licenseno }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.guarantorname.errors }}
                <label for="{{ form.guarantorname.id_for_label }}" class="col-sm-2 col-form-label">Gurantor Name</label>
                <div class="col-sm-10">
                  {{ form.guarantorname }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.guarandorphoneno.errors }}
                <label for="{{ form.guarandorphoneno.id_for_label }}" class="col-sm-2 col-form-label">Gurantor Phone No</label>
                <div class="col-sm-10">
                  {{ form.guarandorphoneno }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.countrycode.errors }}
                <label for="{{ form.countrycode.id_for_label }}" class="col-sm-2 col-form-label">Country Code</label>
                <div class="col-sm-10">
                  {{ form.countrycode }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.aadharno.errors }}
                <label for="{{ form.aadharno.id_for_label }}" class="col-sm-2 col-form-label">Aadhar No.</label>
                <div class="col-sm-10">
                  {{ form.aadharno }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.licenseissuedate.errors }}
                <label for="{{ form.licenseissuedate.id_for_label }}" class="col-sm-2 col-form-label">License Issue Date</label>
                <div class="col-sm-10">
                  {{ form.licenseissuedate }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.licenseexpirtydate.errors }}
                <label for="{{ form.licenseexpirtydate.id_for_label }}" class="col-sm-2 col-form-label">License Expiry Date</label>
                <div class="col-sm-10">
                  {{ form.licenseexpirtydate }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.driverid.errors }}
                <label for="{{ form.driverid.id_for_label }}" class="col-sm-2 col-form-label">Driver ID</label>
                <div class="col-sm-10">
                  {{ form.driverid }}
                </div>
              </div>
               <div class="row mb-3">
                {{ form.driverimage.errors }}
                <label for="{{ form.driverimage.id_for_label }}" class="col-sm-2 col-form-label">Driver Image</label>
                <div class="col-sm-10">
                  {{ form.driverimage }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.pancardimage.errors }}
                <label for="{{ form.pancardimage.id_for_label }}" class="col-sm-2 col-form-label">Pan Card Image</label>
                <div class="col-sm-10">
                  {{ form.pancardimage }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.driverlicense.errors }}
                <label for="{{ form.driverlicense.id_for_label }}" class="col-sm-2 col-form-label">Driver License Image</label>
                <div class="col-sm-10">
                  {{ form.driverlicense }}
                </div>
              </div>
              <div class="row mb-3">
                {{ form.drivermisc.errors }}
                <label for="{{ form.drivermisc.id_for_label }}" class="col-sm-2 col-form-label">Other Documents</label>
                <div class="col-sm-10">
                  {{ form.drivermisc }}
                </div>
              </div>
              <div class="row mb-3 justify-content-center">              
                <div class="col-sm-10 text-center">
                  <button type="submit" class="btn btn-primary">Save</button>
                  <a href="/gotoz/my_driver" class="btn btn-secondary">Cancel</a>
                </div>
              </div> 
          </form>
            
</section>

 {% endblock %}
 
  
