{% load static %}
<ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Main</li>
    <hr />
    <li class="nav-item"><!--Dashboard-->
      <a class="nav-link " href="/gotoz">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item"><!--Vehicle Tracking-->
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Vehicle Tracking</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/gotoz/all_vehicle">
            <i class="bi bi-circle"></i><span>All Vechicle</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/vehicle_directory">
            <i class="bi bi-circle"></i><span>Vechile Directory</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/vehicle_group">
            <i class="bi bi-circle"></i><span>My Vechile Group</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/vehicle_states">
            <i class="bi bi-circle"></i><span>My Vechile States</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Cards</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Carousel</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>List group</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Modal</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Tabs</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Pagination</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Progress</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Spinners</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Tooltips</span>
          </a>
        </li>-->
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item"><!--Drivers-->
      <a class="nav-link collapsed" data-bs-target="#device-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Devices</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="device-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>My GPS Device</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>GPS Status</span>
          </a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item"><!--Drivers-->
      <a class="nav-link collapsed" data-bs-target="#driver-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Drivers</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="driver-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/gotoz/my_driver">
            <i class="bi bi-circle"></i><span>My Drivers</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Driver Performance</span>
          </a>
        </li>
      </ul>
    </li>

    <!--Trip-->
    <li class="nav-item"><!--Trip-->
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Trip</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/gotoz/all_trips">
            <i class="bi bi-circle"></i><span>All Trips</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/trip_schedules">
            <i class="bi bi-circle"></i><span>Trip Schedules</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/routes">
            <i class="bi bi-circle"></i><span>Routes</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/consigners">
            <i class="bi bi-circle"></i><span>Consigner</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item"><!--Reports-->
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>All Reports</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Report Schedules</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item"><!--Expances-->
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Expances</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/gotoz/my_expances">
            <i class="bi bi-circle"></i><span>My Expances</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="bi bi-circle"></i><span>ApexCharts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>ECharts</span>
          </a>
        </li>-->
      </ul>
    </li>

    <li class="nav-item"><!--Maintanance-->
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Maintanace</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/gotoz/service_history">
            <i class="bi bi-circle"></i><span>Service History</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Service Remainders</span>
          </a>
        </li>-->
        <li>
          <a href="/gotoz/service_schedules">
            <i class="bi bi-circle"></i><span>Service Schedules</span>
          </a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item"><!--Subscriptions-->
      <a class="nav-link collapsed" data-bs-target="#subscription-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Subscriptions</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="subscription-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/gotoz/subscription_history">
            <i class="bi bi-circle"></i><span>Subscription History</span>
          </a>
        </li>
        <li>
          <a href="/gotoz/subscription_renew">
            <i class="bi bi-circle"></i><span>Renew</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Service Remainders</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Service Schedules</span>
          </a>
        </li>-->
      </ul>
    </li>

    <li class="nav-heading">Settings</li>
    <hr />

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>

    <!--<li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li>--><!-- End F.A.Q Page Nav -->

    <!--<li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li>--><!-- End Contact Page Nav -->

    <!--<li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li>--><!-- End Register Page Nav -->

    <!--<li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li>--><!-- End Login Page Nav -->

    <!--<li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li>--><!-- End Error 404 Page Nav -->

    <!--<li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li>--><!-- End Blank Page Nav -->

  </ul>